<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" href="css/custom.css" />

    <title>crumblr</title>
  </head>
  <body>

  <div th:insert="fragments/navbar.html :: navbar"></div>


    <!-- About Us -->
    <div class="container mt-5" id="about-us">
      <h1>About Us</h1>
      <h6>crumblr is the leading bakery in Singapore</h6>
      <p class="about-text">Established in 2022, crumblr came from very humble beginnings. Started off as a home-based business, crumblr quickly gained traction by word-of-mouth , soon after, set up it's own brick-and-mortar. Offering a selection of bakes and pastries, we provide customers in the city a whiff of our baked goods throughout the day.</p>
      <p class="photo"><img src="staticimages/baking.jpg" width="80%" alt="Group Photo" /></p>

      <h1 id="purpose">Our Purpose</h1>
      <p class="about-text">We started with a sole purpose of creating breads for everyone with the highest quality natural ingredients and at accessible locations with affordable prices.</p>

      <p class="about-text">We produce breads, cakes and pastries 360 days of the year. Our bakers begin the day early with the freshest doughs to be handmade and baked fresh daily onsite so that our customers across the city can catch a whiff of our baked goods throughout the day.</p>

    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col" id="pillars">
          <h4>Our Core Pillars</h4>
          ACCESSIBILITY - We get there<br />
          TECHNOLOGY - A smarter way to shop<br />
          PAYMENTS - Safe & Seamless transactions<br />
          QUALITY - Only the best ingredients<br />
          GIFTING - Paying it forward
        </div>
        <div class="col" id="values">
          <h4>Our Values</h4>
          Quality - Premium<br />
          Freshness - Right from our ovens<br />
          Accessibility - No need for travelling<br />
          Delicious - We make every bite worth it<br />
          Healthy - Wholesome goodness
        </div>
      </div>
    </div>


    <!-- Our Team -->
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col">
          <h1 style="text-align: center;">Meet The Team</h1>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col" id="team">
          <img src="staticimages/team-jan.jpg" class="team-info" alt="Jan, Team Leader" />
          <p><b>Jan Kheng</b><br /><i>Team Leader</i><br />DevOps</p>
          <p>I enjoy morning walks in the park and baking with my daughter on weekends.<br /><br />As a learner of the Junior Full Stack Developer Program at Generation Singapore, I'm excited to be able to learn and develop the necessary skills to kickstart my career in the technology sector. I aspire to be a professional software developer and design impactful solutions for the society.</p>
          <p>jan@crumblr.com</p>
        </div>
        <div class="col" id="team">
          <img src="staticimages/team-nad.jpg" class="team-info" alt="Nad, Developer, Frontend" />
          <p><b>Nadine</b><br /><i>Developer, Frontend</i><br />Operations</p>
          <p>I collect tchotchke and have a selection of various craft ephemera. I love film photography and hoard rolls of film that are no longer in production.<br /><br />I appreciate artistic and indie films and am always searching for new music to experience. Music that move me: trance, folk and indie-pop.</p>
          <p>nad@crumblr.com</p>
        </div>
        <div class="col" id="team">
          <img src="staticimages/team-marcel.jpg" class="team-info" alt="Marcel, Developer, Backend" />
          <p><b>Marcel</b><br /><i>Developer, Backend</i><br />Database</p>
          <p>I enjoy working out and going for morning hikes as it helps me to kick start the day proper.<br /><br />As a learner at Generation Singapore, I enjoy the thrill of building a fully functional web application. My goal is do my best and keep learning to become a professional full-stack developer.</p>
          <p>marcel@crumblr.com</p>
        </div>
      </div>
    </div>

  <div th:insert="fragments/footer.html :: footer"></div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>